<div class="container">
    <img src="../assets/FUBU_logo.png" alt="...">
</div>
<div class="middle"></div>
<h1>FUBU - BRANDING SPOT</h1>
<h2 style="font-weight: normal;margin-top: 0%;">Hip Hop Apparel</h2>
		
<div class="gallery">
<h2>Gallery </h2>
<hr color="black">
<br/>
<p style="margin-left: 12px;">Production had a tight timeline with 3 separate locations between the East Village and Williamsburg, NYC.</p>
    <br/>
    <tr>
        <td><img src="../assets/Gallery_production_1.jpg"  alt="..."></td>
        <td><img src="../assets/Gallery_production_2.jpg" alt="..."></td>
        <td><img src="../assets/Gallery_production_3.jpg" alt="..."></td>

    </tr>
    <tr>
        <td><img src="../assets/Gallery_production_4.jpg" alt="..."></td>
        <td><img src="../assets/Gallery_production_5.jpg" alt="..."></td>
        <td><img src="../assets/Gallery_production_6.jpg" alt="..."></td>
    </tr>
    <br/>

    <p style="margin-left: 12px;">Most of the challenges were weather related, with the original shoot date completely rained out. The actual shoot date was unusually cold for April and was tough to work through for all of the actors wearing shorts and athletic gear. Our dancers warmed themselves up in a tight huddle as we filmed a sweeping choreographed shot following our iconic FUBU handshake. This would become a recurring element as we transition from scene to scene.</p>

</div>
<br/>
<br/>
<br/>
<div class="foot">
    <hr>
    <h6>© 2022 FUBU COLLECTION | DZN BY BRYAN</h6>
</div>
        